/* border: 2px solid black; */

/*page layout. inside body; header, introduction, main, footer*/

/* display:flex, just... align... are everywhere */
header,
.introduction,
main,
footer,
.links,
.introduction-text,
.info-images,
.info-image-text,
.quote,
.invitation {
  display: flex;
  justify-content: center;
  align-items: center;
}
body,
main,
.introduction-text,
.info-image-text,
.quote,
.invitation {
  flex-direction: column;
}

header,
.introduction,
main,
footer {
  border: 1px dashed red;
  margin-bottom: 3px;
  flex: 1 1 auto;
}
header {
  justify-content: space-between;
}

.link {
  padding-right: 35px;
}
.introduction {
  padding: 0 100px;
}

.introduction-image {
  border: 2px solid black;
  padding: 50px;
  margin-left: 40px;
}

.info-images {
  flex-wrap: nowrap;
  width: 100%;
  border: 3px solid pink;
}

.info-image-text {
  width: 200px;
}

.info-image {
  border: 2px solid black;
  padding: 40px;
  width: 40px;
  height: 40px;
}

.info-text {
  width: 120px;
  margin-top: 15px;
}

.quote,
.invitation {
  margin: 20px 300px;
}
